Repository llmariner/vector-store-manager, pull requests merged in 2024-11, with the labels that each got.

#65 chore(chart): add number type metadata
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: skip-changelog

#66 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#68 fix(chart): do not set the default value of s3.endpoinrUrl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#69 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#70 feat(chart): add an enable option for the dependency condition
  deployments/server/templates/_helpers.tpl
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: enhancement

#71 feat(server): support an enable flag for the usage sender
  deployments/server/values.schema.json
  deployments/server/values.yaml
  go.mod
  go.sum
  server/cmd/run.go
Labels: enhancement

#74 feat(mod): bump up llmariner modules
  go.mod
  go.sum
Labels: enhancement

#75 fix(chart): unset the default value of `enable`
  deployments/server/values.schema.json
  deployments/server/values.yaml
Labels: bug

#76 ci(release): add bump option
  .github/workflows/manual-release-pr.yaml
Labels: skip-changelog
